%h1
  = @post_presenter.title

= @post_presenter.intro
= @post_presenter.body
= @post_presenter.written_by

%p
  %small
    = @post_presenter.published_date

%h3 Comments

- if @post_presenter.comments.any?
  %ol
    - @post_presenter.comments.each do |comment|
      %li
        = comment.body

        %p
          = comment.person.first_name
          Posted on
          = l(comment.created_at, format: :short)
